* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f0c29;
  color: #fff;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #1b1b3a;
}

header a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.logo {
  font-weight: 700;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  flex-wrap: wrap;
}

.hero-text h1 span {
  color: #e30bc6;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
  margin-top:30px;
}
 .hero .para{
  margin-bottom: 20px;
}

.btn {
  padding: 12px 30px;
  margin-right: 10px;
  border-radius: 25px;
  text-decoration: none;
  gap: 15px;
  
  
  
}

.primary {
  background: #8f94fb;
  color: #000;
 

  
}

.secondary {
  border: 2px solid #8f94fb;
  color: #fff;
}

/* Sections */
.section {
  padding: 80px 10%;
  text-align: center;
}

.dark {
  background: #1b1b3a;
}

.skills-grid,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 40px;
}
 
.skill-card,
.project-card {
  background: #2a2a5a;
  padding: 20px;
  border-radius: 15px;
}

/* Projects */
.project-btns a {
  display: inline-block;
  margin: 10px;
  color: #8f94fb;
}

/* Contact */
form {
  max-width: 400px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

/* Footer */
footer {
  padding: 20px;
  background: #000;
  text-align: center;
}

/* Responsive */
@media (max-width: 480px) {

  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  nav a {
    margin: 0 10px;
  }

  .hero {
    flex-direction: column;
    padding: 50px 5%;
  }

  .hero-img img {
    width: 200px;
    margin-top: 30px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    margin-right: 0;
  }

  form {
    width: 100%;
    padding: 0 10px;
  }

}
